@charset "UTF-8";
/** 
 * style for footer
 */

footer {
	bottom: 0px;
	position: relative;
	text-align: center;
	border-top: 1px solid #CCCCCC;
	background: #FFFFFF;
	height: 60px;
	line-height: 60px;
	width: 100%;
}
